<% this.title = 'Discussion' %>
<% include header %>
<div class="am-container am-g">
    <h1>讨论区</h1>
    <div class="am-u-sm-12">
        <a href="<%= syzoj.utils.makeUrl(['article', 0, 'edit']) %>" class="am-btn am-btn-primary am-btn-sm am-fr">发表文章</a>
        <table class="am-table">
            <thead>
            <tr>
                <th>标题</th>
                <th>作者</th>
                <th>发表时间</th>
            </tr>
            </thead>
            <tbody>
            <% for (let article of articles) { %>
                <tr>
                    <td><a href="<%= syzoj.utils.makeUrl(['article', article.id]) %>"><%= article.title %></a></td>
                    <td><a href="<%= syzoj.utils.makeUrl(['user', article.user_id]) %>"><%= article.user.username %></a></td>
                    <td><%= syzoj.utils.formatDate(article.public_time) %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    </hr>
    <% include page %>
</div>
<% include footer %>
