<% this.title = '修改资料'; %>
<% include header %>
<div class="padding">
    <div class="ui <% if (error_info == 'Success') { %>success<% } else { %>error<% } %> message" id="error" <% if (!error_info) { %>hidden<% } %>>
            <% if (error_info) {
                if (error_info == 'Success') error_info = '修改成功';
            %>
            	<p id="error_info"><%= error_info %></p>
            <% } %>
    </div>
		<form class="ui form" action="<%= syzoj.utils.makeUrl(['user', edited_user.id, 'edit']) %>" method="post" onsubmit="return check()">
            <div class="field">
		    	<label for="sex">性别</label>
		    	<select class="ui dropdown" name="sex">
                    <option value="0" <%= edited_user.sex == 0 ? 'selected': '' %>>其它</option>
                    <option value="1" <%= edited_user.sex == 1 ? 'selected': '' %>>男</option>
                    <option value="-1" <%= edited_user.sex == -1 ? 'selected': '' %>>女</option>
                </select>
		    </div>
		    <div class="field">
		    	<label for="email">Email</label>
		    	<input type="email" id="email" name="email" value="<%= edited_user.email %>">
		    </div>
		    <div class="field">
		    	<label for="information">个性签名</label>
		    	<textarea rows="5" id="information" name="information"><%= edited_user.information %></textarea>
		    </div>
        <div class="field">
        <label class="ui header">修改密码</label>
          <input type="password" placeholder="原密码（留空则不修改）" name="old_password" id="old_password">
        </div>
        <div class="two fields" id="new_password_field">
          <div class="field">
            <input type="password" placeholder="新密码" name="new_password" id="password1">
          </div>
          <div class="field">
            <input type="password" placeholder="确认密码" id="password2">
          </div>
        </div>
        <button type="submit" class="ui button">修改</button>
		</form>
	</div>
</div>
<script type="text/javascript">
function make_md5(tag) {
	if (tag.val()) {
		tag.val($.md5(tag.val() + "syzoj2_xxx"));
	}
}
function check() {
	old_password = $("#old_password");
	password1 = $("#password1");
	password2 = $("#password2");
	if ($("#old_password").val() && password1.val() != password2.val()) {
		$("#error").removeClass("success");
		$("#error").removeClass("error");
		$("#error").addClass("error");
		$("#error_info").html("两次输入的密码不一致");
		$("#error").show();
		return false;
	}
	make_md5(old_password);
	make_md5(password1);
	make_md5(password2);
	return true;
}
</script>
<script>
$(function () {
	$('.ui.dropdown').dropdown();
});
</script>
<% include footer %>
