</div>
    <div class="ui vertical footer segment" style="margin-top: 15px; ">
      <div class="ui center aligned container">
        <span style="color: #999;"><%= syzoj.config.title %> Powered by <a href="https://github.com/syzoj/syzoj" target="_blank">SYZOJ</a>.</span>
      </div>
    </div>
</div>
<script src="<%- lib('semantic-ui/2.4.1/semantic.min.js') %>"></script>
<script src="<%- lib('Chart.js/2.7.3/Chart.bundle.min.js') %>"></script>
<script src="<%- selfLib('script.js') %>?20170710"></script>
<% if (user) { %>
	<script>
		<% if (user.background) { %>
			var timestamp = new Date().getTime();
			var pic = "<%=user.background%>".trim().split(";");
			var k = pic.length;
			var t = 1;
			var tmp;
			var rd = Math.floor(timestamp / 100000);
			for (var i = 1; i < k; i++) {
				t = (t * rd + rd % 10) % i;
				tmp = pic[i];
				pic[i] = pic[t];
				pic[t] = tmp;
			}
			document.body.style.background = "url('" + pic[0] + "') fixed center";
			document.body.style.backgroundSize = "cover";
		<% } %>
	</script>
<% } %>
</body>
</html>
