<% include util %>
<td><a href="<%= syzoj.utils.makeUrl(['judge_detail', judge.id]) %>">#<%= judge.id %></a></td>
<td><a href="<%= syzoj.utils.makeUrl(['problem', judge.problem_id]) %>">#<%= judge.problem_id %>. <%= judge.problem.title %></a></td>
<% if (!judge.hidden) { %>
<td><a href="<%= syzoj.utils.makeUrl(['judge_detail', judge.id]) %>">
    <span class="status <%= getStatusMeta(judge.status).toLowerCase().split(' ').join('_') %>">
    <i class="<%= icon[getStatusMeta(judge.status)] || 'remove' %> icon"></i>
    <%= judge.status %>
    </span>
</a></td>
<td><a href="<%= syzoj.utils.makeUrl(['judge_detail', judge.id]) %>"><span class="score score_<%= parseInt(judge.result.score / 10) || 0 %>"><%= judge.result.score %></span></a></td>
<td><%= judge.result.total_time %> ms</td>
<td><%= judge.result.max_memory %> KiB</td>
<td><%= syzoj.config.languages[judge.language].show %></td>
<% } else { %>
    <td>隐藏</td>
    <td>隐藏</td>
    <td>隐藏</td>
    <td>隐藏</td>
    <td>隐藏</td>
<% } %>
<td><a href="<%= syzoj.utils.makeUrl(['user', judge.user_id]) %>"><%= judge.user.username %></a><% if (judge.user.nameplate) { %><%- judge.user.nameplate %><% } %></td>
<td><%= syzoj.utils.formatDate(judge.submit_time) %></td>
<td><a href="<%= syzoj.utils.makeUrl(['judge_detail', judge.id]) %>"><i style="color: #000;" class="code icon"></i></a></td>
<% if (isPending(judge.status)) { %>
<script>
function update_judge_<%= judge.id %>() {
  setTimeout(function () {
    $.get('/judge_state/<%= judge.id %>/ajax', function (data) {
      var e = $('#judge_state_<%= judge.id %>');
      if (e.html() != data) e.html(data);
      else update_judge_<%= judge.id %>();
    });
  }, 500);
}
update_judge_<%= judge.id %>();
</script>
<% } %>
