<% this.title = '排名' %>
<% include header %>
<div class="padding">
  <form action="<%= syzoj.utils.makeUrl(['find_user']) %>" class="ui mini form" method="get" role="form">
    <div class="ui action left icon input inline" style="width: 180px; ">
      <i class="search icon"></i><input name="nickname" placeholder="用户名" type="text">
      <button class="ui mini button" type="submit">查找用户</button>
    </div>
  </form>
	    <table class="ui very basic center aligned table">
	        <thead>
	        <tr>
	            <th>#</th>
	            <th>用户昵称</th>
	            <th>个性签名</th>
	            <th>通过数量</th>
	        </tr>
	        </thead>
	        <tbody>
	        <%
            let i = (paginate.currPage - 1) * paginate.perPage;
            for (let user of ranklist) {
              ++i;
            %>
		        <tr>
		        	<td><%= i %></td>
		        	<td><a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><%= user.username %></a><% if (user.nameplate) { %><%- user.nameplate %><% } %></td>
		        	<td><%- user.information %></td>
		        	<td><%= user.ac_num %></td>
		        </tr>
		    <% } %>
	        </tbody>
	    </table>
    <br>
<% include page %>
</div>
<% include footer %>
