<% this.title = 'Rank List' %>
<% include header %>
<div class="am-container am-g">
    <h1>排名</h1>
    <form class="am-form-inline am-u-sm-8 " role="form" method="get" action="<%= syzoj.utils.makeUrl(['find_user']) %>">
        <div class="am-form-group am-fl">
            <input type="text" class="am-form-field am-input-sm" name="nickname" placeholder="用户昵称">
        </div>
        <button type="submit" class="am-btn am-btn-primary am-input-sm am-fl">寻找用户</button>
    </form>
    <div class="am-u-sm-12">
	    <table class="am-table">
	        <thead>
	        <tr>
	            <th>排名</th>
	            <th>用户昵称</th>
	            <th>个性签名</th>
	            <th>通过数量</th>
	        </tr>
	        </thead>
	        <tbody>
	        <%
          let i = (page - 1) * syzoj.config.page.ranklist;
          for (let user of ranklist) {
            ++i;
          %>
		        <tr>
		        	<td><%= i %></td>
		        	<td><a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><%= user.username %></a>
                <% if (user.nameplate) { %>
                <%- user.nameplate %>
                <% } %>
              </td>
		        	<td><%= user.information %></td>
		        	<td><%= user.ac_num %></td>
		        </tr>
		     <%
          } %>
	        </tbody>
	    </table>
	</div>
</div>
<% include page %>
<% include footer %>
