<% this.title = '排名' %>
<% include header %>
<div class="padding">
  <form action="<%= syzoj.utils.makeUrl(['find_user']) %>" class="ui mini form" method="get" role="form" style="margin-bottom: 25px; text-align: right; ">
    <div class="ui action left icon input inline" style="width: 180px; margin-right: 77px; ">
      <i class="search icon"></i><input name="nickname" placeholder="用户名" type="text">
      <button class="ui mini button" type="submit">查找用户</button>
    </div>
  </form>
	    <table class="ui very basic center aligned table">
	        <thead>
	        <tr>
	            <th>#</th>
	            <th>用户昵称</th>
	            <th>个性签名</th>
	            <th>通过数量</th>
	        </tr>
	        </thead>
	        <tbody>
	        <%
            let i = (paginate.currPage - 1) * paginate.perPage;
            for (let user of ranklist) {
              ++i;
            %>
            <tr>
		        	<td><%= i %></td>
		        	<td><a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><%= user.username %></a><% if (user.nameplate) { %><%- user.nameplate %><% } %></td>
		        	<td class="font-content">
              <script id="user-infomation-script-<%= i %>">
              (function () {
                var html = <%- JSON.stringify(user.information) %>;
                var elem = document.createElement('div');
                elem.style = 'max-height: 50px; overflow: hidden; width: 100%; max-width: 840px; ';
                elem.innerHTML = html;
                var imgs = Array.from(elem.getElementsByTagName('img'));
                for (var i in imgs) imgs[i].parentNode.removeChild(imgs[i]);
                var script = document.getElementById('user-infomation-script-<%= i %>');
                script.parentNode.replaceChild(elem, script);
              })();
              </script>
              </td>
		        	<td><%= user.ac_num %></td>
		        </tr>
		    <% } %>
	        </tbody>
	    </table>
    <br>
<% include page %>
</div>
<% include footer %>
